langchain_openai
langchain_core
langchain_community
langserve
python-dotenv
streamlit
fastapi
uvicorn[standard]
sse_starlette
huggingface_hub
openai
supabase
nltk
rank-bm25
beautifulsoup4
mangum
pymongo
